#container {
    box-sizing: border-box;
    background-color: #00A99D;
}


/* HEADER */

#top {
    position: relative;
    background: orange;
}

#top a img {
    display: inline-block;
    width: 33%;
    text-align: center;
    margin: 1em 1em;
    overflow: visible;
    min-width: 30px;
}


/* NAV */

nav {
    position: relative;
    float: right;
    margin: 2.5em 3em;
}

nav,
nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 3.2em 2em;
    color: #ED1C24;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none !important;
    text-align: center;
}

nav ul li a:hover {
    background-color: #ED1C24;
    color: orange;
    padding: 3.2em 2em;
}


/* HEADER IMAGE*/


/* animation keyframe */

@keyframes wagon {
    0% {
        background-color: #ED1C24;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color: #00A99D;
    }
    75% {
        background-color: #F8D648;
    }
    100% {
        background-color: orange;
    }
}

#jumbotron,
.flexslider {
    height: 80vh;
    background-size: 35em;
    animation: wagon 10s linear 2s infinite alternate;
}

#jumbotron img {
    max-width: 30vw;
    text-align: center;
}

#jumbotron p {
    text-align: center;
    font-size: 2em;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    color: #ED1C24;
    margin: 0;
    padding: 1em 2em 0 2em;
}


/* Flexslider plugin custom settings */

.flexslider {
    height: 70vh;
    width: 100vw;
    text-align: center;
    border: none !important;
}

.flex-viewport {
    width: 100vw !important;
    max-height: 80vh !important;
    padding: 4em 30em 0 30em !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*********************************************************/


/* Main content*/

.descript {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
    display: inline-block;
}

figure {
    text-align: right;
    margin: 0 !important;
}

.descript h2,
.descript p {
    font-family: "Raleway", sans-serif;
    margin: 1em 0
}

h2 {
    color: #ED1C24;
    margin-top: 1em;
    font-size: 2em;
}

descript p {
    color: #000;
    margin: 0 0 0 9em !important;
}

.act figure img {
    background-color: #ED1C24;
    max-width: 50vw;
    max-height: 50vh;
    padding: 2em 6em;
    text-align: right;
}

figcaption {
    display: block;
    position: relative;
    left: 12rem;
    bottom: 9rem;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-style: italic;
    float: left;
    font-size: 3em;
}


/* Acts with picture on the right and description on the right*/

.act2 .descript {
    float: right;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
    display: inline-block;
}

.act2 figure {
    text-align: left;
}

.act2 figure img {
    text-align: left;
    background-color: #ED1C24;
    max-width: 50vw;
    max-height: 50vh;
    padding: 2em 6em;
}

.act2 figcaption {
    margin: 0 11rem 0 37rem;
}


/*********************************************************/


/* FOOTER */

footer {
    background-color: orange;
    height: 15vh;
    width: 100vw;
    box-sizing: border-box;
    margin-top: -4px;
    padding-top: 3em;
    position: absolute;
}

#Contact {
    color: #fff;
    padding: 0 0 0 2em;
    display: inline-block;
    margin-top: 0;
    font-family: "Raleway", sans-serif;
}

#Contact li {
    display: inline-block;
    padding: -2 em 0.5em;
    font-size: 1em;
}

#Contact li a {
    text-decoration: none !important;
    color: #fff;
}

#media {
    display: inline-block;
    margin: -1em 1em 0 1em;
    float: right;
}

#media li {
    padding: 1em;
    display: inline-block;
    margin: 0 1em;
}


/*********************************************************/


/******************** MEDIA QUERIES **********************/


/*********************************************************/


/* Flexslider plugin custom settings */

@media screen and (min-width:200px) and (max-width:1200px) {
    .flexslider {
        height: 60vh;
        width: 100vw;
        text-align: center;
        border: none !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .flex-viewport {
        width: 100vw !important;
        height: 60vh !important;
        padding: 1em 10em 0 10em !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .flex-active-slide {
        max-width: 360px !important;
    }
    #jumbotron img {
        width: 80vw;
        text-align: center;
    }
    /* Main content*/
    .descript {
        width: 100%;
        text-align: center;
        height: 15em;
        margin-bottom: 50px;
    }
    figure {
        text-align: center;
    }
    .act figure img {
        box-sizing: border-box;
        max-width: 100vw;
        max-height: 50vh;
        padding: 2em 20em;
    }
    figcaption {
        right: 1rem;
        bottom: 24rem;
        padding-bottom: 1em;
    }
    /* Acts with picture on the right and description on the rightv*/
    .act2 .descript {
        width: 100%;
        text-align: center;
        height: 15em;
        margin-bottom: 50px;
    }
    .act2 figure {
        text-align: center;
    }
    .act2 figure img {
        box-sizing: border-box;
        max-width: 100vw;
        max-height: 50vh;
        padding: 2em 20em;
    }
    .act2 figcaption {
        left: 25rem;
        bottom: 24rem;
        margin: 0;
        padding-bottom: 1em;
    }
    /* FOOTER */
    footer {
        padding-top: 5em;
    }
    #media {
        margin: 0 30vw;
    }
}